<div id="particles-js" class="position-absolute"></div>
<div class="position-relative">

    <div>
        <table class="table">
            <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Sender</th>
                    <th scope="col">Receiver</th>
                    <th scope="col">Amount</th>
                    <th scope="col">Time</th>

                </tr>
            </thead>
            {{#each this.transaction}}
            <tbody>
                <th scope="row">{{ID_TRANSACTION}}</th>

                <td>{{Sender}}</td>
                <td>{{Receiver}}</td>
                <td>{{AMOUNT}}</td>
                <td>{{TIMESTAMP}}</td>


            </tbody>
            {{/each}}

        </table>
    </div>
</div>
<script src="../../public/particles.js"></script>
<script src="../../public/app.js"></script>

<style>
    #particles-js {
        background-color: white;
        height: 100%;
        width: 100%;
        top: 0;
        left: 0;
        z-index: -1;
    }
</style>