<div id="particles-js" class="position-absolute"></div>
<div class="wrapper">

    <div class="position-relative">

        <div>
            <table class="table">
                <thead class="pending_col">
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">SENDER</th>
                        <th scope="col">RECEIVER</th>
                        <th scope="col">AMOUNT</th>
                        <th scope="col">TIME</th>

                    </tr>
                </thead>
                {{#each this.transaction}}
                <tbody class="pending_col">
                    <th scope="row">{{ID_TRANSACTION}}</th>

                    <td>
                        {{Sender}}
                    </td>
                    <td>{{Receiver}}</td>
                    <td>{{AMOUNT}}</td>
                    <td>{{TIMESTAMP}}</td>


                </tbody>
                {{/each}}

            </table>
        </div>
    </div>
</div>

<script src="../../public/particles.js"></script>
<script src="../../public/app.js"></script>

<style>
    #particles-js {
        position: relative;
        background-color: skyblue;
        height: 100%;
        width: 100%;
        top: 0;
        left: 0;
        z-index: -1;
    }

    .pending_col {
        background-color: white;
        opacity: 0.8;
        font-weight: bold;
    }

    .position-relative {
        position: relative;
        height: 100%;
    }

    .wrapper {
        position: relative;
    }
</style>