<table class="table">
    <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Sender</th>
            <th scope="col">Receiver</th>
            <th scope="col">Amount</th>
        </tr>
    </thead>
    {{#each this.transaction}}
    <tbody>
        <th scope="row">{{ID_TRANSACTION}}</th>

        <td>{{Sender}}({{FROM}})</td>
        <td>{{Receiver}}({{TO}})</td>
        <td>{{AMOUNT}}</td>


    </tbody>
    {{/each}}

</table>