<div id="particles-js" class="position-absolute"></div>

<div id="container1" class="vh-100 bg-transparent" style="background-color: #f4f5f7;">
    <div class="container py-5 h-100">
        <div class="row d-flex justify-content-center align-items-center h-100">
            <div class="col col-lg-6 mb-4 mb-lg-0">
                <div class="card mb-3" style="border-radius: .5rem;">
                    <div class="row g-0">
                        <div class="col-md-4 gradient-custom text-center text-white"
                            style="border-top-left-radius: .5rem; border-bottom-left-radius: .5rem;">
                            <img src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-chat/ava1-bg.webp"
                                alt="Avatar" class="img-fluid my-5" style="width: 80px;" />
                            <h5>{{user.USERNAME}}</h5>
                            <p>{{user.REWARDS}} coin </p>

                        </div>
                        <div class="col-md-8">
                            <div class="card-body p-4">
                                <h6>Information</h6>
                                <hr class="mt-0 mb-4">
                                <div class="row pt-1">
                                    <div class="col-6 mb-3">
                                        <h6>Email</h6>
                                        <p class="text-muted">{{user.EMAIL}}</p>
                                    </div>
                                    <div class="col-6 mb-3">
                                        <h6>Account Number</h6>
                                        <p class="text-muted">{{user.ACCOUNT_NO}}</p>
                                    </div>
                                    <div class="two-buttons">
                                        <button type="submit" class="btn btn-primary" onclick="showContainer2()">Send
                                            coin</button>
                                        <a class="btn btn-primary" aria-current="page" href="/history">History</a>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>



<div id="container2">
    <form id="payment-form" action="/sendcoin" method="POST">
        <div>
            <div class="mb-3">
                <label for="sender" class="form-label">Sender</label>
                <input type="text" name="sender" value={{user.USERNAME}} class="form-control"
                    aria-describedby="emailHelp" readonly>
            </div>
            <div class="mb-3">
                <label for="receiver" class="form-label">Receiver</label>
                <select class="form-select" name="receiver" aria-label="Default select example">
                    {{#each this.alluser}}
                    <option value={{USERNAME}}>{{USERNAME}}</option>
                    {{/each}}
                </select>
            </div>
            {{#if error}}
            <div class="alert alert-danger d-flex align-items-center" role="alert">
                <svg class="bi flex-shrink-0 me-2" width="24" height="24" role="img" aria-label="Danger:">
                    <use xlink:href="#exclamation-triangle-fill" />
                </svg>
                <div>
                    {{error}}
                </div>
            </div>
            {{/if}}
            <div class="mb-3">
                <label for="exampleInputPassword1" class="form-label">Your Password</label>
                <input type="password" name="password" class="form-control" id="exampleInputPassword1">
            </div>
            <div>
                <div class="mb-3">
                    <label for="coin" class="form-label">Coin</label>
                    <input type="number" name="coin" class="form-control" id="coin" aria-describedby="emailHelp">
                </div>
                <div class="mb-3">
                    <label for="fee" class="form-label">Fee</label>
                    <input type="number" name="fee" value="50" class="form-control" id="fee"
                        aria-describedby="emailHelp" readonly>
                </div>

                <button type="submit" class="btn btn-primary" id="send">Send</button>
                {{!-- <button type="submit" class="btn btn-primary"><a aria-current="page"
                        href="/pending"></a>Send</button> --}}
                {{!-- <button type="submit" class="btn btn-primary"
                    onclick="return confirm('Bạn có chắc chắn muốn chuyển tiền không?')"><a aria-current="page"
                        href="/pending"></a>Send</button> --}}

                </br>
                </br>
            </div>
    </form>
</div>

<div id="confirm-form" style="display:none">
    <p>Bạn có chắc chắn muốn chuyển tiền không?</p>
    <div id="two-button">
        <button type="button" id="confirm-yes">Có</button>
        <button type="button" id="confirm-no">Không</button>
    </div>
</div>

<script src="../../public/particles.js"></script>
<script src="../../public/app.js"></script>

<script>
    function showContainer2() {
        var container2 = document.getElementById("container2");
        var container1 = document.getElementById("container1")
        container2.style.display = "block";
        container1.style.display = "none";
    }


    function showContainer1() {
        var container1 = document.getElementById("container1");
        var container2 = document.getElementById("container2");
        container1.style.display = "block";
        container2.style.display = "none";

    }

    // Lấy phần tử container2
    var container2 = document.getElementById("container2");

    // Lấy phần tử confirm-form
    var confirmForm = document.getElementById("confirm-form");

    // Lấy nút send
    var sendButton = document.querySelector("#payment-form button[type='submit']");

    // Lấy nút có và nút không
    var confirmYesButton = document.getElementById("confirm-yes");
    var confirmNoButton = document.getElementById("confirm-no");

    // Thêm sự kiện click vào nút send
    sendButton.addEventListener("click", function (e) {
        e.preventDefault(); // Ngăn chặn form submit

        // Ẩn container2 và hiện confirm-form
        //container2.style.display = "none";
        confirmForm.classList.add('overlay')
        confirmForm.style.display = "block";
        document.getElementById('container2').style.pointerEvents = 'none'
        confirmForm.style.pointerEvents = 'auto';
    });

    // Thêm sự kiện click vào nút có
    confirmYesButton.addEventListener("click", function () {
        // Thực hiện chuyển page
        document.getElementById('payment-form').submit()
        container2.style.pointerEvents = 'auto'

    });

    // Thêm sự kiện click vào nút không
    confirmNoButton.addEventListener("click", function () {
        // Hiện lại container2 và ẩn confirm-form
        container2.style.display = "block";
        confirmForm.style.display = "none";
        container2.style.pointerEvents = 'auto'
        confirmForm.style.pointerEvents = 'auto';

    });

</script>


<style>
    .gradient-custom {
        /* fallback for old browsers */
        background: #f6d365;

        /* Chrome 10-25, Safari 5.1-6 */
        background: -webkit-linear-gradient(to right bottom, rgba(246, 211, 101, 1), rgba(253, 160, 133, 1));

        /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
        background: linear-gradient(to right bottom, rgba(246, 211, 101, 1), rgba(253, 160, 133, 1))
    }

    #wrapper {

        display: block;
    }

    #particles-js {
        background-color: skyblue;
        height: 115vh;
        width: 100vw;
        top: 0;
        left: 0;
        z-index: -1;
    }


    .two-buttons {
        display: flex;
        justify-content: space-between;
    }


    .button {
        width: 25%;
        height: 35%;
        border: 1px solid black;
    }

    #container2 {
        font-size: 1.2em;
        width: 30vw;
        height: 60vh;
        padding-top: 15vh !important;
        margin-left: 20vw;

        position: absolute;
        display: none;

    }

    #confirm-form {
        width: 28vw;
        height: 20vh;
        padding: 10px;
        background-color: lightgray
    }

    #two-button {
        display: flex;
        justify-content: space-between;
    }

    #two-button button {
        width: 5vw;
        background-color: white;
        color: black;
        justify-content: space-between;
    }

    #two-button button:hover {

        background-color: black;
        color: white;
        opacity: 0.8;
    }

    .overlay {
        position: fixed;
        /* đặt vị trí tuyệt đối */
        top: 40vh;
        left: 55vw;
        width: 100%;
        /* đặt kích thước bằng với kích thước màn hình */
        height: 100%;
        background-color: white
            /* đặt độ mờ của overlay */
            z-index: 9999;
        /* đặt lớp cao nhất */
        animation: modalFadeIn ease 0.6s;
    }

    footer {
        display: none;
    }

    .open {
        display: flex
    }

    @keyframes modalFadeIn {
        from {
            opacity: 0;
            transform: translateX(-300px);
        }

        to {
            opacity: 1;
            transform: translateX(0);
        }
    }
</style>