<div id="particles-js" class="position-absolute"></div>
<div id="container2">
    <form id="payment-form" action="/sendcoin" method="POST">
        <div>
            <div class="mb-3">
                <label for="sender" class="form-label" style="font-weight: bold;">SENDER</label>
                <input type="text" name="sender" value={{user.USERNAME}} class="form-control"
                    aria-describedby="emailHelp" readonly>
            </div>
            <div class="mb-3">
                <label for="receiver" class="form-label" style="font-weight: bold;">RECEIVER</label>
                <select class="form-select" name="receiver" aria-label="Default select example">
                    {{#each this.alluser}}
                    <option value={{USERNAME}}>{{USERNAME}}</option>
                    {{/each}}
                </select>
            </div>
            {{#if error}}
            <div class="alert alert-danger d-flex align-items-center" role="alert">
                <svg class="bi flex-shrink-0 me-2" width="24" height="24" role="img" aria-label="Danger:">
                    <use xlink:href="#exclamation-triangle-fill" />
                </svg>
                <div>
                    {{error}}
                </div>
            </div>
            {{/if}}
            <div class="mb-3">
                <label for="exampleInputPassword1" class="form-label" style="font-weight: bold;">YOUR PASSWORD</label>
                <input type="password" name="password" class="form-control" id="exampleInputPassword1">
            </div>
            <div>
                <div class="mb-3">
                    <label for="coin" class="form-label" style="font-weight: bold;">COIN</label>
                    <input type="number" name="coin" class="form-control" id="coin" aria-describedby="emailHelp">
                </div>
                <div class="mb-3">
                    <label for="fee" class="form-label" style="font-weight: bold;">FEE</label>
                    <input type="number" name="fee" value="50" class="form-control" id="fee"
                        aria-describedby="emailHelp" readonly>
                </div>

                <button type="submit" class="btn btn-primary" id="send" style="font-weight: bold;">SEND</button>
                <button class="btn btn-secondary" id="send" style="font-weight: bold;"
                    onclick="showContainer1()">BACK</button>

                {{!-- <button type="submit" class="btn btn-primary"><a aria-current="page"
                        href="/pending"></a>Send</button> --}}
                {{!-- <button type="submit" class="btn btn-primary"
                    onclick="return confirm('Bạn có chắc chắn muốn chuyển tiền không?')"><a aria-current="page"
                        href="/pending"></a>Send</button> --}}

                </br>
                </br>
            </div>
    </form>
    {{#if errorPassword}}
    <div class="alert alert-danger d-flex align-items-center" role="alert">
        <svg class="bi flex-shrink-0 me-2" width="24" height="24" role="img" aria-label="Danger:">
            <use xlink:href="#exclamation-triangle-fill" />
        </svg>
        <div>
            {{errorPassword}}
        </div>
    </div>
    {{/if}}
    {{#if errorBalance}}
    <div class="alert alert-danger d-flex align-items-center" role="alert">
        <svg class="bi flex-shrink-0 me-2" width="24" height="24" role="img" aria-label="Danger:">
            <use xlink:href="#exclamation-triangle-fill" />
        </svg>
        <div>
            {{errorBalance}}
        </div>
    </div>
    {{/if}}
</div>
<script src="../../public/particles.js"></script>
<script src="../../public/app.js"></script>
<style>
    .button {
        width: 25%;
        height: 35%;
        border: 1px solid black;
    }

    #container2 {
        font-size: 1.2em;
        width: 30vw;
        height: 60vh;
        margin-left: 35vw;
        margin-top: 10vh;
        position: absolute;
    }

    #wrapper {

        display: block;
    }

    #particles-js {
        background-color: skyblue;
        height: 120vh;
        width: 100vw;
        top: 0;
        left: 0;
        z-index: -1;
    }

    footer {
        display: none
    }
</style>