<div id="particles-js" class="position-absolute"></div>
<div id="container2">
    <form action="/pending" method="POST">
        <div>
            <div class="mb-3">
                <label for="sender" class="form-label">Sender</label>
                <input type="text" name="sender" value={{user.OWNER}} class="form-control" id="sender"
                    aria-describedby="emailHelp" readonly>
            </div>
            <div class="mb-3">
                <label for="receiver" class="form-label">Receiver</label>
                <select class="form-select" name="receiver" aria-label="Default select example">
                    {{#each this.alluser}}
                    <option name={{USERNAME}} value={{USERNAME}}>{{OWNER}}</option>
                    {{/each}}
                </select>
            </div>

            <div class="mb-3">
                <label for="exampleInputPassword1" class="form-label">Your Password</label>
                <input type="password" name="password" class="form-control" id="exampleInputPassword1">
            </div>

            <div>
                <div class="mb-3">
                    <label for="money" class="form-label">Money</label>
                    <input type="number" name="money" class="form-control" id="money" aria-describedby="emailHelp">
                </div>
                <div class="mb-3">
                    <label for="message" class="form-label">Message</label>
                    <input type="text" name="message" class="form-control" id="message" aria-describedby="emailHelp">
                </div>
                <button type="submit" class="btn btn-primary"><a aria-current="page" href="/pending"></a>Send</button>
                </br>
                </br>
            </div>

            {{#if errorPassword}}
            <div class="alert alert-danger d-flex align-items-center" role="alert">
                <svg class="bi flex-shrink-0 me-2" width="24" height="24" role="img" aria-label="Danger:">
                    <use xlink:href="#exclamation-triangle-fill" />
                </svg>
                <div>
                    {{errorPassword}}
                </div>
            </div>
            {{/if}}
            {{#if errorBalance}}
            <div class="alert alert-danger d-flex align-items-center" role="alert">
                <svg class="bi flex-shrink-0 me-2" width="24" height="24" role="img" aria-label="Danger:">
                    <use xlink:href="#exclamation-triangle-fill" />
                </svg>
                <div>
                    {{errorBalance}}
                </div>
            </div>
            {{/if}}
    </form>
</div>
<script src="../../public/particles.js"></script>
<script src="../../public/app.js"></script>
<style>
    .button {
        width: 25%;
        height: 35%;
        border: 1px solid black;
    }

    #container2 {
        font-size: 1.2em;
        width: 30vw;
        height: 60vh;
        margin-left: 35vw;
        margin-top: 10vh;
        position: absolute;
    }

    #wrapper {

        display: block;
    }

    #particles-js {
        background-color: skyblue;
        height: 100%;
        width: 100%;
        top: 0;
        left: 0;
        z-index: -1;
    }

    footer {
        display: none
    }
</style>