<div id="particles-js"></div>
<div class="container">
    <div id="panel-blockchain">
        {{#each this.data}}
        <div class="block">
            <div class="prehash">
                <p>PREHASH:</p>
                {{PREHASH}}
            </div>
            <div class="content">
                <div class="contentm">
                    <p>Sender: </p> {{Sender}}
                    </br>
                    <p>Receiver: </p> {{Receiver}}
                    </br>
                    <p>Content: </p> {{MESSAGE}}
                    </br>
                    </br>
                    <p>Amount: </p> {{AMOUNT}}
                    </br>
                    <p id="timeblock">Time: </p> {{TIMESTAMP}}
                    </br>
                    </br>
                    <p id="idblock">Block {{ID_BLOCK}}</p>
                </div>
            </div>
            <div class="curhash">
                <p>CURHASH:</p>
                {{HASH}}
            </div>
        </div>
        {{/each}}

    </div>

    <div hidden="true">{{data}},{{n}}</div>
</div>


<script>
    function changeColor() {
        const listcolor = [
            'red', 'blue', 'purple', 'green', 'brown', 'orange', 'pink',
            "BlueViolet",
            "BurlyWood",
            "CadetBlue",
            "Chartreuse",
            "Chocolate",
            "CornflowerBlue",
            "Crimson",
            "Cyan",
            "DarkBlue",
            "DarkGoldenRod",
            "DarkGreen",
            "DarkKhaki",
            "DarkMagenta",
            "DarkOliveGreen",
            "DarkOrange",
            "DarkOrchid",
            "DarkRed",
            "DarkSalmon",
            "DarkSeaGreen",
            "DarkSlateBlue",
            "DarkSlateGray",
            "DarkSlateGrey",
            "DarkTurquoise",
            "DarkViolet",
            "DeepPink",
            "DimGray",
            "DimGrey",
            "DodgerBlue",
            "FireBrick",]
        const n = listcolor.length;
        const hashBlocks = document.querySelectorAll('.curhash');

        let i = 2

        const connections = document.querySelectorAll('.connection');
        connections.forEach(connection => connection.parentNode.removeChild(connection));


        hashBlocks.forEach((block, index) => {

            // Lấy khối hash của khối tiếp theo
            block.style.color = listcolor[index % n]

            if (i < hashBlocks.length) {
                const nextBlock = block.parentNode.nextElementSibling.querySelector('.prehash');
                console.log(nextBlock)

                nextBlock.style.color = listcolor[index % n]
                i++
                console.log(i)

            }
        });
    }

    window.addEventListener('load', () => {
        changeColor();

    });

</script>
<script src="../../public/particles.js"></script>
<script src="../../public/app.js"></script>


<style>
    #particles-js {
        background-color: skyblue;
        height: 150vh;
        position: absolute;
        z-index: -1;
        top: 100;
    }




    .block {
        position: relative;
        border: 1px #ccc;

        background-color: white;
        text-align: justify;
        border: 1px solid;
        display: grid;
        grid-template-rows: 1fr 5fr 1fr;
        margin: 20px;
        border-radius: 3%;

    }


    #idblock {
        text-align: center;
        padding-left: 11vw;
    }

    #timeblock {
        text-align: left;
    }

    .block p {
        font-weight: 700;
        border: 0;
        padding: 0;
        display: inline-block;
        color: black;

    }

    .prehash {
        border-bottom: 1px solid black;
        padding-left: 5px;
        padding-right: 5px;
        word-break: break-all;

    }

    .curhash {
        border-top: 1px solid black;
        padding-left: 5px;
        padding-right: 5px;
        word-break: break-all;

    }

    .content {
        position: relative;
        padding-left: 5px;
        padding-right: 5px;
    }

    .content:hover {
        background-image: url("../../public/coin.jpg");
        transform: rotateY(360deg);
        animation: spin 1.5s forwards;
        height: 100%;
        background-position: center;
        background-size: cover;
    }

    .content:hover .contentm {
        visibility: hidden;
    }

    @keyframes spin {
        from {
            transform: rotateY(-180deg);
        }

        to {
            transform: rotateY(0deg);
        }
    }


    .coin-img {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 50%;
        height: auto;
        opacity: 0;
        transition: opacity 0.2s ease-in-out;
    }

    .content:hover .coin-img {
        opacity: 1;
    }

    .container #panel-blockchain {
        overflow-y: auto;
        display: grid;
        height: 90%;
        max-height: 700px;
        width: 95%;
        grid-gap: 1%;
        grid-template-columns: repeat(3, 1fr);
        border: 1px solid;
        margin-top: 5%;
        margin-left: 2.5%;
        margin-bottom: 5%;

    }

    .container {}

    .line {
        height: 1px;
        background-color: black;
        grid-column-start: 1;
        grid-column-end: -1;
        margin-top: calc(var(--gap) / 2);
    }
</style>