<div id="container">
    <div id="panel-blockchain">
        {{#each this.data}}
        <div class="block">
            <div class="prehash">
                <p>PREHASH:</p>
                {{PREHASH}}
            </div>
            <div class="content">
                <p>Sender: </p> {{Sender}}
                </br>
                <p>Receiver: </p> {{Receiver}}
                </br>
                <p>Content: </p> {{MESSAGE}}
                </br>
                </br>
                <p>Amount: </p> {{AMOUNT}}
                </br>
                <p id="timeblock">Time: </p> {{TIMESTAMP}}
                </br>
                </br>
                </br>
                <p id="idblock">Block {{ID_BLOCK}}</p>
            </div>
            <div class="curhash">
                <p>CURHASH:</p>
                {{HASH}}
            </div>
        </div>
        {{/each}}
    </div>
    <div hidden="true">{{data}},{{n}}</div>
    <div id="footer"></div>
</div>


<script>
    function changeColor() {
        const listcolor = ['red', 'blue', 'purple', 'green', 'brown']
        const n = listcolor.length;
        const hashBlocks = document.querySelectorAll('.curhash');


        hashBlocks.forEach((block, index) => {
            // Lấy khối hash của khối tiếp theo
            block.style.color = listcolor[index % n]
            const nextBlock = block.parentNode.nextElementSibling.querySelector('.prehash');
            nextBlock.style.color = listcolor[index % n]

        });
    }
    window.addEventListener('load', () => {
        changeColor();
    });

</script>

<style>
    .block {
        border: 1px #ccc;
        background-color: white;
        text-align: justify;
        border: 1px solid;
        display: grid;
        grid-template-rows: 1fr 5fr 1fr;
        margin:20px;

    }

    #idblock {
        text-align: center;
        padding-left: 11vw;
    }

    #timeblock {
        text-align: left;
    }

    .block p {
        font-weight: 700;
        border: 0;
        padding: 0;
        display: inline-block;
        color: black;
    }

    .prehash {
        border-bottom: 1px solid black;
        padding-left: 5px;
        padding-right: 5px;
        word-break: break-all;

    }

    .curhash {
        border-top: 1px solid black;
        padding-left: 5px;
        padding-right: 5px;
        word-break: break-all;

    }

    .content {
        padding-left: 5px;
        padding-right: 5px;
    }

    #container #panel-blockchain {
        overflow-y: auto;
        display: grid;
        height: 90%;
        max-height: 700px;
        width: 95%;
        grid-gap: 1%;
        grid-template-columns: repeat(3, 1fr);
        border: 1px solid;
        margin-top: 5%;
        margin-left: 2.5%;
    }

    #footer {
        height: 10vh;
        widht: 100vw;
    }
</style>