<div id="container">
    <div id="panel-blockchain">
        {{#each this.data}}
        <div class="block">
            <div class="prehash" >
                <p>PREHASH:</p> 
                {{PREHASH}}
            </div>
            <div class="content">
                <p>Sender: </p>  {{Sender}}
                </br>
                <p>Receiver: </p>  {{Receiver}}
                </br>
                <p>Content: </p>  {{MESSAGE}}
                </br>
                </br>
                <p>Amount: </p>  {{AMOUNT}}
                </br>
                <p id="timeblock">Time: </p> {{TIMESTAMP}}
                </br>
                </br>
                </br>
                <p id="idblock">Block {{ID_BLOCK}}</p>
            </div>
            <div class="curhash">
                <p>CURHASH:</p> 
                {{HASH}}
            </div>
        </div>
        {{/each}}
    </div>
    <div hidden="true">{{data}},{{n}}</div>

</div>

<style>
    .block {
        border: 1px #ccc;
        background-color: white;
        text-align: justify;
        border: 1px solid;
        display: grid;
        grid-template-rows: 1fr 5fr 1fr;
      
        
    }
    #idblock{
        text-align:center;
        padding-left:11vw;
    }
    #timeblock{
        text-align:left;
    }
    .block p{
        font-weight:700;
        border:0;
        padding:0;
        display: inline-block;
    }

    .prehash {
        border-bottom:1px solid black;
        padding-left: 5px;
        padding-right:5px;
        word-break: break-all;
        
    }

    .curhash {
       border-top:1px solid black;
       padding-left: 5px;
       padding-right:5px;
       word-break: break-all;
       
    }

    .content{
        padding-left: 5px;
        padding-right:5px;
    }

    #container #panel-blockchain {
        overflow-y: scroll;
        display: grid;
        height: 90%;
        width: 95%;
        grid-gap: 5%;
        grid-template-columns: repeat(3, 1fr);
        border: 1px solid;
        margin-top: 5%;
        margin-left: 2.5%;
    }
</style>

<script>
    function changeColor() {
        const blocks = document.querySelectorAll('.block');
        console.log(blocks.length)
        for (let i = 0; i < blocks.length+1; i++) {
            const prehash = blocks[i+1].querySelector('.prehash');
            const curhash = blocks[i].querySelector('.curhash');
            let color = 'red';

            if (prehash.style.backgroundColor === 'red') {
                color = 'orange';
            } 
            else if (prehash.style.backgroundColor === 'orange') {
                color = 'yellow';
            }
            curhash.style.backgroundColor = color;
        }
    }
    window.addEventListener('load', () => {
        changeColor();
    });
   
</script>